/* styles.css */
body {
    font-family: 'Open Sans', sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header, footer {
    padding: 1rem;
    background-image: linear-gradient(to right top, #f9f2fc, #f8f4fd, #f8f6fe, #f8f7ff, #f8f9ff, #f7f9ff, #f7faff, #f6faff, #f3fafe, #f0fafd, #eef9fb, #ecf9f9);
    color: white;
    text-align: center;
}

main {
    padding: 20px;
    min-height: 80vh;
}

h1 {
    color: #333;
    text-align: center;
    margin-bottom: 1rem;
}

h2, h3, h4, h5, h6 {
    font-family: 'Helvetica', sans-serif; /* Consistent typography */
}
.form-control {
    border-radius: 0;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control:focus {
    border-color: #007bff;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.btn-primary {
    background-image: linear-gradient(to right top, #3e7020, #386f21, #326e21, #2b6d22, #246c23, #1f6923, #1a6623, #156323, #135e22, #105922, #0f5421, #0d4f20);}

.btn-primary:hover {
    background-color: #0069d9;
    border-color: #0062cc;
}

.card {
    transition: transform 0.2s; /* Smooth transition for card hover */
}

.card:hover {
    transform: scale(1.05); /* Slight scale on hover */
}

.card-text {
    font-size: 14px;
    color: #555;
}

.card-title {
    margin-bottom: 10px;
    font-size: 20px;
}

/* Responsive design for small devices */
@media (max-width: 768px) {
    .header, .footer {
        text-align: center;
    }
}

/* A

/* Responsive image styles */
.card-img-top {
    width: 250px !important;  /* Force the width */
    height: 120px !important; /* Force the height */
    object-fit: cover; 
    display: block;           /* Makes the margin auto applicable */
    margin: auto;                  /* Maintain aspect ratio while covering the area */
  }
  

/* Custom styles for the navigation bar */
.navbar {
    padding: 1rem;
    background-image: linear-gradient(to right top, #315d8b, #345b88, #375985, #3a5781, #3c557e, #375880, #335c81, #2f5f82, #266884, #247084, #2c7882, #397f7f);    text-align: center;
}

/* Add more custom styles as needed */


nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

.tutor-image {
    width: 100%;  /* Responsive width */
    height: auto; /* Maintain aspect ratio */
    border-radius: 50%;
    object-fit: cover;
    object-position: top; /* Aligns the top part of the image with the container's top edge */
 
    margin-top: 10px;
}

/* Image styles */
.background-top {
    width: 100%;     /* Width is 100% to be responsive */
    height: 500px;   /* Fixed height */
    object-fit: cover;
    display: block;
    margin: auto;
}

.whatsapp-icon {
    color: #25D366; /* WhatsApp green color */
    font-size: 30px; /* Adjust the size as needed */
}

.dropdown-header {
    cursor: pointer;
    text-align: left;
    font-size: 14px; /* Increase font size; adjust the value as needed */

}

.dropdown-header .fa {
    margin-left: 100px; /* Add left margin to the icon */

}

.dropdown-header.active {
    text-decoration: underline;
}

.dropdown-content {
    display: none;
    overflow: hidden;
    text-align: left;
    padding-left: 10px; /* Add some padding for better text alignment */
}


.fa {
    transition: transform 0.3s;
}

.blog-card {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    transition: 0.5s;
    margin-bottom: 20px;
}

.blog-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.blog-content {
    padding: 2em;
}

.info-card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.06);
    transition: box-shadow 0.3s ease-in-out;
    border: 1px solid #f0f0f0;
    border-radius: 8px;
}

.info-card:hover {
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.12);
}

.card-body {
    padding: 20px;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.connect-section {
    margin-top: 20px; /* Adjust spacing as needed */
    text-align: center;
    font-size: 12px;

  }
  
  .social-icons {
    margin-top: 10px;
  }
  
  .social-icons a {
    display: inline-block;
    margin: 0 10px; /* Spacing between icons */
    font-size: 24px;
    color: #333; /* Default icon color */
    transition: color 0.3s ease; /* Smooth hover effect */
  }
  
  .social-icons a:hover {
    color: #007bff; /* Facebook blue on hover */
  }
  
  .social-icons a:hover .fab.fa-instagram {
    color: #e4405f; /* Instagram gradient color */
  } 
  
  .social-icons a:hover .fab.fa-whatsapp {
    color: #25d366; /* WhatsApp green color */
  }
  
/* Responsive design adjustments */
@media (max-width: 768px) {
    .tutor-image {
        width: 80px;
        height: 80px;

    }
}
/* Add more styling as needed */
